[submodule "third_party/node-unittest"]
	path = third_party/node-unittest
	url = git://github.com/termie/node-unittest.git
[submodule "third_party/node-jsmock"]
	path = third_party/node-jsmock
	url = git://github.com/termie/node-jsmock.git
[submodule "third_party/Socket.IO-node"]
	path = third_party/Socket.IO-node
	url = http://github.com/LearnBoost/Socket.IO-node.git
[submodule "third_party/jquery"]
	path = third_party/jquery
	url = git://github.com/jquery/jquery.git
[submodule "third_party/Socket.IO"]
	path = third_party/Socket.IO
	url = http://github.com/LearnBoost/Socket.IO.git
[submodule "third_party/node-static"]
	path = third_party/node-static
	url = http://github.com/cloudhead/node-static.git
[submodule "third_party/node.routes.js"]
	path = third_party/node.routes.js
	url = http://github.com/defrex/node.routes.js.git
[submodule "third_party/node_mdns"]
	path = third_party/node_mdns
	url = http://github.com/agnat/node_mdns.git
