<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
"http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html>
<head>
<script src="/public/js/jquery.js"></script>
<script src="/public/js/socket.io.js"></script>
<script>io.setPath('/public/js/');</script>
<script src="/public/js/urb.js"></script>
<script src="/public/js/urb-socketio.js"></script>
<title>Urbsville</title>
<link rel="stylesheet" media="all" href="/public/css/main.css" />
</head>
<body>
<h1>Admin</h1>
<div id="devices">

</div>

<script type="text/javascript">
  var client = new ApiClient('ApiClient', 'admin');
  var transport = new SocketIoClientTransport('localhost', {port: 8001});
  
  client.addListener(new Listener(/.*/, function (evt) { console.log(evt) }));

  client.addListener(new Listener(/deviceAdded/, function (evt) {
    var device = evt.data;
    $('#devices').append('<div id="device' + device.name + '" class="device">'
                         + device.id
                         + '</div');
    $('#device' + device.name).toggle(function () {
      client.urb.device(device.id).setProperty('bgcolor', "#000");
    }, function () {
      client.urb.device(device.id).setProperty('bgcolor', "#FFF");
    });
  }));

  client.addListener(new Listener(/deviceRemoved/, function (evt) {
    var device = evt.data;
    $('#device' + device.name).remove()
  }));
  
  client.addListener(new Listener(/bgcolor/, function (evt) {
    for (var i in evt.topic) {
      var dev = client.urb.device(evt.topic[i]);
      if (dev) {
        $('#device' + dev.name()).css('background-color', evt.data.bgcolor);
      }
    }
  }));


  client.connect(transport);

</script>
</body>
</html>
