<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
"http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html>
<head>
    <script type="text/javascript" src="/public/js/jquery.js"></script>
    <script type="text/javascript" src="/public/js/json.js"></script>
    <script type="text/javascript" src="/public/js/socket.io.js"></script>
    <script type="text/javascript">io.setPath('/public/js/');</script>
    <script type="text/javascript" src="/public/js/urb.js"></script>
    <script type="text/javascript" src="/public/js/urb-socketio.js"></script>
    <title>Admin - Urbsville</title>
    <link href="http://fonts.googleapis.com/css?family=Molengo&amp;subset=latin" rel="stylesheet" type="text/css" /> 
    <link rel="stylesheet" media="all" href="/public/css/main.css" />
</head>
<body>
    <div id="header"> 
        <a href="./" id="logo"><em>Urb</em>a<span>node</span></a> 
    </div>
    <div id="content">
        <h1>Admin</h1>
        <ul class="list" id="devices">
            <li>No devices here</li>
            <!--li style="background: green;"> 
                <h3>termie</h3> 
                <p>Color: <strong>green</strong> | Pan: <strong>0.2</strong> | Tilt: <strong>0.2</strong></p> 
                <a href="#" class="delete">Release</a> 
            </li-->
        </ul>

<script type="text/javascript">
  var client = new ApiClient('ApiClient', 'admin');
  var transport = new SocketIoClientTransport('localhost', {port: 8001});
  
  client.addListener(new Listener(/.*/, function (evt) { console.log(evt) }));

  client.addListener(new Listener(/deviceAdded/, function (evt) {
    var device = evt.data;
    $('#devices').append('<li id="device' + device.name + '" class="device">'
                         + '<h3>' + device.id + '</h3>'
                         //+ '<h3>' + device.getMeta('user') + '</h3>'
                         //+ '<p> color: | pan: | title: </p>'
                         + '</li');
    $('#device' + device.name).toggle(function () {
      client.urb.device(device.id).set('bgcolor', "#000");
    }, function () {
      client.urb.device(device.id).set('bgcolor', "#FFF");
    });
  }));

  client.addListener(new Listener(/deviceRemoved/, function (evt) {
    var device = evt.data;
    $('#device' + device.name).remove()
  }));
  
  client.addListener(new Listener(/bgcolor/, function (evt) {
    for (var i in evt.topic) {
      var dev = client.urb.device(evt.topic[i]);
      if (dev) {
        $('#device' + dev.name()).css('background-color', evt.data.bgcolor);
      }
    }
  }));


  client.connect(transport);

</script>
</body>
</html>
