<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
"http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html>
<head>
<script src="/public/js/jquery.js"></script>
<script src="/public/js/socket.io.js"></script>
<script>io.setPath('/public/js/');</script>
<script src="/public/js/urb.js"></script>
<script src="/public/js/urb-socketio.js"></script>
<title>Urbsville</title>
<link rel="stylesheet" media="all" href="/public/css/main.css" />
</head>
<body>
<h1>Device</h1>
<script src="/public/js/browser-device.js"></script>
<div class="bigdevice">
  Click To Toggle Colors
</div>
<script>
  var rand = Math.floor(Math.random()*10000000);
  var dev = new BrowserDevice(rand.toString());
  var client = new DeviceClient('ApiClient', 'device1', dev);
  var transport = new SocketIoClientTransport('localhost', {port: 8002});
  
  client.addListener(new Listener(/.*/, function (evt) { console.log(evt) }));
  client.connect(transport);
  
  $('.bigdevice').toggle(function () {
    dev.setProperty('bgcolor', '#F00');
  }, function () {
    dev.setProperty('bgcolor', '#0F0');
  });
</script>
</body>
</html>
