<h1>Hey</h1>

<script>
  var client = new ApiClient('ApiClient', 'test1');
  var transport = new SocketIoClientTransport('localhost', {port: 8001});
  
  client.addListener(new Listener(/.*/, function (evt) { console.log(evt) }));
  client.connect(transport);

</script>
