<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
"http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html>
    <head>
        <title>Urbsville</title>
        <link rel="stylesheet" media="all" href="/public/css/main.css" />
</head>
<body>
    <h1>Click Devices</h1>
    <ul class="devices">
        <li>
            <a href="/30seconds">
                <h3>30 Seconds</h3>
            </a>
        </li>
    </ul>
    <script type="text/javascript" src="/public/js/jquery.js"></script>
</body>
</html>
