<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
"http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html>
    <head>
        <title>Urbsville</title>
        <link rel="stylesheet" media="all" href="/public/css/main.css" />
    	<link href="http://fonts.googleapis.com/css?family=Molengo&amp;subset=latin" rel="stylesheet" type="text/css" /> 
    	<meta name="viewport" content="width=device-width" />
</head>
<body>
    <div id="header"> 
        <a href="./" id="logo"><em>Urb</em>a<span>node</span></a> 
    </div> 
    <div id="content">
        <h1>Click Devices</h1>
        <ul class="list">
            <li>
                <a href="/raph">
                    <h3>Raphael</h3>
                </a>
            </li>
            <li>
                <a href="/30seconds">
                    <h3>30 Seconds</h3>
                </a>
            </li>
        </ul>
    </div>
    <script type="text/javascript" src="/public/js/jquery.js"></script>
</body>
</html>
