<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
"http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html>
<head>
<script src="/public/js/jquery.js"></script>
<script src="/public/js/dojo.js"></script>
<script type="text/javascript" src="/public/js/json.js"></script>
<script src="/public/js/socket.io.js"></script>
<script>io.setPath('/public/js/');</script>
<script src="/public/js/urb.js"></script>
<script src="/public/js/urb-socketio.js"></script>
<script src="/public/js/js3d.js"></script>
<script src="/public/js/third-dee.js"></script>
<title>Urbsville</title>
<link rel="stylesheet" media="all" href="/public/css/main.css" />
</head>
<body onLoad="initThirdDee();">

<div id="canvas" style="position:absolute;
                        left:0px;
                        top:00px;
                        width:800px;
                        height:800px;
                        border:thin solid white;">
</div>

<script>
  var protocol = new SioClientProtocol('localhost', {port: 8001});
  var client = new ApiClient('admin', protocol);

  var gLights = {};

  client.on('event', function (evt) { console.log(evt); });

  function newDevice(device) {
    var x = Math.floor((Math.random() * 400) - 200);
    var y = Math.floor((Math.random() * 400) - 200);
    gLights[device.id()] = new Light(x, y);
    gLights[device.id()].setBrightness(0.7);

    gScene.addLight(gLights[device.id()]);

    device.on('property/bgcolor', function (bgcolor) {
      gLights[device.id()].setColor(bgcolor);
    });
  }

  client.on('urbAdded', function (urb) {
    var devices = urb.devices();
    for (var d in devices) {
      newDevice(devices[d]);
    }
    urb.on('deviceAdded', function (device) {
      newDevice(device);
    });
  });
  client.connect();
</script>

</body>
</html>
