<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
"http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html>

<head>
<script src="/public/js/websocket.js"></script>
<script src="/public/js/urbsocket.js"></script>

<title>NAME</title>

<link rel="stylesheet" media="all" href="/public/css/main.css" />
</head>

<body>
<%= body %>
</body>
</html>
