<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
"http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html>

<head>
<script src="/public/js/socket.io.js"></script>
<script>io.setPath('/public/js/');</script>
<script src="/public/js/urb.js"></script>
<script src="/public/js/urb-socketio.js"></script>

<title>NAME</title>

<link rel="stylesheet" media="all" href="/public/css/main.css" />
</head>

<body>
<%= body %>
</body>
</html>
